body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    display: inline-block;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff7c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    border: 1px solid black;
    background-color: black; 
    color: white; 
}

img {
    max-width: 100%;
    height: 200px;
    border-radius: 30px;
   
}

.img-sasa{
    display: block;
    margin-left: 1px;
    border-radius: 50%; 
    height: 150px; 
     
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3a694c;
    color: #ffffff;
}
